<div id='slide_container_for_slide_<%= sketch.id %>' >
  <div class="col-lg-4 sketch_container">

    <a href='#' class='inspect_this_sketch' data-id='<%= sketch.id %>' data-toggle="modal" data-target="#SketchModal">
      <img src="<%= sketch.file.thumb.url %>" class="img-thumbnail img-responsive" alt="<%= sketch.name %>" width="304" height="236">
    </a>
  </div>
</div>


 