  <% if from == 'account' %>
    <div class="container w account_slides_container">
  <% else %>
    <div class="container w">
  <% end %>
  <% slides.each do |slide| %>
    <%= render :partial => '/slides/slide_thumbnail_like_button', :locals => { :slide => slide, :from => from, :current_page => 'index', :page => @page } %>
  <% end %>
</div>
