<div id="blue">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-1">
        <img src="<%= current_user.portrait_url %>" class='portrait'>

        <h4><b>My Liked Slides</b></h4>

      <%= render :partial => '/users/account_panel_links' %>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- blue wrap -->

<div class="container">
  <div class="row centered">
    <div class="col-lg-12">
      <h1>My Liked Slides</h1>
      <% current_user.slide_likes.each do |sl| %>
      <% slide = sl.slide %>
        <%= render :partial => '/slides/slide_thumbnail_like_button', :locals => { :slide => slide, :from => 'liked_slides', :current_page => 'liked_slides' } %>
      <% end %>
    </div>
  </div><!-- row -->
</div><!-- container -->





<!-- Edit Modal -->
<div id="editSlideShowModal" class="modal fade" role="dialog"></div>
<script src='/my_account.js'></script>

<style>
  .slide_container {
    width: 150px;
    height: 170px;
  }

  .slide_container .slide-font {
    font-size: 10px;
  }

  .slide_to_add {
    position: relative;
    width: 100%;
    max-height: 200px;
    overflow: scroll;
  }
</style>
