<div id="blue">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
      <h4><b>Current Slides</b></h4>
      <p>Search</p>
      <input type="text" id='slide_search'>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- blue wrap -->
<div class="container results_container">
  <%=  render :partial => 'results', :locals => { :slides => @slides } %>
</div>


<script>
  $('body').on('keyup', '#slide_search', function(event) {
    event.preventDefault();
    var url = '/slides/search_reload_pag'
    $.ajax({
      url: url,
      data: {page: 1, search: $(this).val()},
    })
    .done(function(data) {
      $('.results_container').html(data);
    })
  });


  $('body').on('click', '.pagination_link_container a', function(event) {
    event.preventDefault();
    var page = $(this).attr('href').split('=')[1];
    var url = '/slides/reload_pag'

    $.ajax({
      url: url,
      data: {page: page},
    })
    .done(function(data) {
      $('.results_container').html(data);
    })
  });

</script>
