<div id="blue">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
      <h4><b>Current Slides</b></h4>
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#createSlideModal">Upload New Slide</button>
      <br><br>
      <input type="text" id='slide_search' placeholder='Search for slides' class='form-control'>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- blue wrap -->
<div class="container results_container">
</div>


<script>

  // $('body').on('keyup', '#slide_search', function(event) {
  //   event.preventDefault();
  //   var url = '/slides/search_reload_pag'
  //   $.ajax({
  //     url: url,
  //     data: {page: 1, search: $(this).val(), from: 'index'},
  //   })
  //   .done(function(data) {
  //     $('.results_container').html(data);
  //   })
  // });

</script>


