<div id="blue">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-5">
        <img src="<%= @slide.file.url %>" style='max-height:600px;' class='img-responsive'>
	    </div><!-- row -->
    <div class="col-lg-6">
    	<%= render :partial => '/slides/slide_info', :locals => {:slide => @slide } %>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- blue wrap -->

</div><!-- container -->


<style type="text/css">
  
.sketch_container {
  padding: 7px;
  background-color: gainsboro;
  margin: 6px;
  overflow: auto;
  position: relative;
  width: 100px;
  height: 100px;
  display: inline-block;

}

.sketches_thumb_container {
  display: block;
}
</style>

