<div class="container w">
<% if !current_user %>
  <center>
    <a href="#" class='regen_rand_free btn btn-primary btn-lg' data-type='random'>Regen Random Sets</a>
  </center>
  <% slideshows.each do |slideshow| %>
    <%= render :partial => 'slideshows/slideshow_item', :locals => {:slideshow => slideshow, :context_page => context_page} %>

  <% end %>
<% else %>
  <% slideshows.order('created_at desc').each do |slideshow| %>
  <% next if !slideshow.public && context_page == 'general' %>
    <%= render :partial => 'slideshows/slideshow_item', :locals => {:slideshow => slideshow, :context_page => context_page} %>
  <% end %>
<% end %>

</div><!-- container -->
<center>
<% if current_user %>
  <div class="pagination_link_container">
    <%= will_paginate slideshows %>
  </div>
<% else %>

<% end %>
</center>

