<div id="blue">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
      <h4><b>Current Slideshows</b></h4>
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#createSlideShoeModal">Create new Slideshow</button>
<br><br>
      <p>Pick a slideshow to start a study!</p>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- blue wrap -->
<div class="slideshow_list_sect_container" page-type='index'>
  <%= render :partial => 'slideshow_list_sect', :locals => { :slideshows => Slideshow.public_shows.paginate(:page => 1), :context_page => 'general', :pag_url => '/slideshows/reload_pag' } %>
</div>

<script>
  $('body').on('click', '.pagination_link_container a', function(event) {
    event.preventDefault();
    var page = $(this).attr('href').split('=')[1];
    var url = '/slideshows/reload_pag'

    $.ajax({
      url: url,
      data: {page: page},
    })
    .done(function(data) {
      $('.slideshow_list_sect_container').html(data);
    })
  });

</script>

