<div id="blue">
  <div class="container">
    <div class="row centered">
      <h4><b>Current Slideshows</b></h4>
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#createSlideShoeModal">Create new Slideshow</button>
      <br><br>
      <p>Pick a slideshow to start a study!</p>
      <div class="col-lg-8" style='padding: 3%;padding-left: 15%;'>
        <input type="text" placeholder='search for slideshows' id='search-bar' class="form-control" style='width: 100%;padding-left: 15%;'>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- blue wrap -->
<div class="slideshow_list_sect_container" page-type='index'>
</div>
<script src='/slideshow_index.js'></script>

