<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><%= chatroom.title %></h4>
    </div>
    <div class="modal-body">
      <div class="chat_room_dialog container">
        

        <div class="chat_log container" id="chat_log" onload='scroll_down()'>
          <% chatroom.messages.last(25).each do |mess| %>
            <%= render :partial => 'user_sig', :locals => {:mess => mess, :display_pointer => 'block', :connection_id => '' }%>
          <% end %>
        </div>

        <div class="chat_input">
          <form id="chat_say">
            <input type="text" name="content" placeholder="Type message here and press Enter" id='dialog_say' class='form-control chatroom_box'>
          </form>
        </div>

      </div>

    </div>
    <div class="modal-footer">

      <button type="button" class="btn btn-default send-thumbnail" id='back'>Pose!</button>
      <button type="button" class="btn btn-default close-chat-room" id='back'>Lobby</button>
      <button type="button" class="btn btn-default close-chat-room" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>

<script type="text/javascript">
$('body').on('click', '#back', function(event) {
  event.preventDefault();
  $('#list_chat_rooms').trigger('click');
  $('#chatRoom').modal('hide');
});
</script>


<style type="text/css">
/*talk bubble css*/


  .send-thumbnail {
    float: left;
  }
  .chat_room_dialog {
    background-color: transparent;
    position: relative;
    width: 100%;
  }

  .chat_avatar {
    width: 50%;
    border-radius: 40px;
  }

  .chat_input {
    /*margin-top: 2%;*/
    padding:1%;
  }

  .chatroom_box {
    float: left;
    margin-bottom: 2%;
    width: 100%;
  }

  .chat_avatar_container {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    width: 10%;
  }

  .name_bubble {
    position: relative;
    /* display: inline-block; */
    background-color: white;
    border-radius: 5px;
    top: -5px;
    left: -15px;
    padding: 3px;
    font-size: 8px;
    font-weight: bold;
    display: block;
  }

  .chat_bubble {
    display: inline-block;
    /*background-color: white;*/
    background-color: transparent;
    border-radius: 5px;
  }

  .chat_log {
    overflow-y: scroll;
    background-color: white;
    position: relative;
    height: 400px;
    width: 100%;
  }

  .dialog_row {
    /*display: none;*/
  width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: #e7e8e8;
    /* background-color: transparent; */
    color: #4e2727;
    margin-top: 4px;
    font-weight: bold;
    margin-bottom: 2px;
    border-radius: 2px;
    min-height: 30px;
  }

  .my_dialog {
  }
</style>

