 	<% if mess.user.email == current_user.email %>
    <div class="dialog_row container my_dialog"><b><%= mess.user.name %>:</b> <%= mess.content %> </div>
  <% else %>
    <div class="dialog_row container"><b><%= mess.user.name %>:</b> <%= mess.content %> </div>
  <% end %>