


<div class="chat_room_dialog container">
  <h3><%= @chatroom.title %></h3>

  <div class="chat_log container" id="chat_log">
    <div class="dialog_row container"></div>
  </div>

  <div class="chat_input">
    <form id="chat_say">
      <input type="text" name="content" id='dialog_say' class='form-control chatroom_box'>
    </form>
  </div>

</div>
<style type="text/css">
  .chat_room_dialog {
    background-color: #c3ced6;
    position: relative;
    top: 10%;
    margin-top: 5%;
  }

  .chat_input {
    /*margin-top: 2%;*/
    padding:1%;
  }

  .chatroom_box {
    float: left;
    margin-bottom: 2%;
    width: 80%;
  }

  .chat_log {
    overflow-y: scroll;
    background-color: white;
    position: relative;
    height: 400px;
    width: 100%;
  }

  .dialog_row {
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: #f7dbdb;
    margin-top: 4px;
    margin-bottom: 2px;
    border-radius: 10px;
  }

  .my_dialog {
    background-color: #afafff;;
  }
</style>


<script type="text/javascript">
  // 3001 is the port that the websocket_server is listening on
  var dispatcher = new WebSocketRails(window.document.location.host + "/" + "websocket");
  var connection;
  var connectionID;
  var channel;
  var chat_room_conn;
  var elem = document.getElementById('chat_log');
  var addCommentToDom = function(message) {
    var newText = message.content;
    if (message.connection_id == connectionID) {
      $("#chat_log").append("<div class='dialog_row container my_dialog'>"+newText+"</div>");

    } else {
      $("#chat_log").append("<div class='dialog_row container'>"+newText+"</div>");
    }
    elem.scrollTop = elem.scrollHeight;
    console.log('just received new message: ' + message);
  }

  var addErr = function(message) {
    console.log('just received new message: ' + message);
  }

  dispatcher.on_open = function(data) {
    console.log('Connection has been established: ', data);
    connectionID = data.connection_id;
    connection = <%= @chatroom.id %>;
    chat_room_conn = 'chat_room' + connection;
    channel = dispatcher.subscribe(chat_room_conn);
    var room_create_success = chat_room_conn + '_created';
    channel.bind(room_create_success, addCommentToDom);
  }

  $('body').on('keydown', '#dialog_say', function(event) {
    if (event.which == 13) {
      event.preventDefault();
      var obj = {content: $('#dialog_say').val(), room: chat_room_conn, connection: connectionID, room_id: connection}
      dispatcher.trigger('messages.create', obj)
      $(this).val('');
    }
    
  });



</script>