.logo {
  width: 50px;
}

.draw-form-container {
  padding: 2%;
}

.portrait {
  height: 70px;
  position: relative;
  border-radius: 20px;
}


.slide_results_panel {
  max-height: 200px;
  overflow-y: scroll;

}

.slide-font {
  position: relative;
  background-color: transparent;
  max-height: 50px;
  width: 100%;
  overflow-wrap: break-word;
}

.current_slideshows {
  padding: 4%;
}

p.section-paragraph {
  background-color: transparent;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10%;
}

.slide_container {
  padding: 7px;
  background-color: gainsboro;
  margin: 6px;
  overflow: auto;
  position: relative;
  width: 200px;
}

.tiny-thumb {
  width: 100px;
}

.active-slide {
  border-color: red;
  border-style: solid;
  border-width: 1px;
}

.current_slides {
  position: relative;
  width: 100%;
  background-color: #f9f9f9;
  max-height: 200px;
  overflow: scroll;
}

.cushion {
  position: relative;
  width: 100%;
  padding-bottom: 20%;
}

/* pose window */


#pose_window_container {
  position: fixed;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 10001;
  top: 0%;
  display: none;
}

.pose-window {
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
}
.pose-window img {
  position: relative;
  max-width: 90%;
  height: 100%;
}

.right-menu {
  position: fixed;
  background-color: rgba(0,0,0,.3);
  font-size: 30px;
  color: white;
  padding: 2%;
  z-index: 900;
  float: right;
  right: 0;
  width: 20%;
  height: 100%;
}

img.draw-image {
  margin: 0 auto;
}

.hide-right-menu {
  font-size: 15px
}

.show-menu {
  position: fixed;
  background-color: rgba(0,0,0,.3);
  font-size: 30px;
  color: white;
  padding: 2%;
  z-index: 900;
  float: right;
  right: 0;
  top: 0;
  width: 20%;
  height: 15%;
  display: none;
}

#createSlideShoeModal .modal-dialog {
  width: 90%;
}

#editSlideShowModal .modal-dialog {
  width: 90%;
}

.container_for_slideshow_thumb {
  margin: 6px;
  width: 200px;
  background-color: gainsboro;
  height: 220px;
}

.preview-text {
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    margin-top: 5%;
    padding: 3%;
    color: white;
    height: 90%;
    text-align: center;
    border-radius: 10px;
}

.small-thumbnail-in-preview {
  width: 50%;
}