<div id="blue">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-1">
      <h4><b>Current Artists</b></h4>
      <p>Total: <%= User.count %></p>
      <br><br>
      <div style='display: block;'>
        
      <input type="text" placeholder='search for users' id='user-search-bar' class="form-control search_bar">
      </div>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- blue wrap -->

<div class="container" style='padding: 2%;'>
  <div class="row centered">
    <div class="col-lg-10 search_container">
      <%= render :partial => '/users/users_search_block', :locals => { :users => @users } %>
    </div>

  </div><!-- row -->
</div><!-- container -->


<br>

<style type="text/css">
 li.user-display-item {
    padding: 2%;
    height: 100px;
    width: 100%;
    background-color: white;
    margin-bottom: 5px;
  }

  .user-display-container {
    position: relative;
  }
</style>

<script type="text/javascript">
  $('body').on('keyup', '#user-search-bar', function(event) {
    event.preventDefault();

    $.ajax({
      url: '/users/search',
      data: {phrase: $(this).val()},
    })
    .done(function(data) {
      $('.search_container').html(data);
    });
  });
  
</script>


