<div id="blue">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <img src="<%= current_user.portrait_url %>" class='portrait'>

        <h4><b>My account</b></h4>
        <p>account info</p>

      <%= render :partial => '/users/account_panel_links' %>      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- blue wrap -->

<div class="container">
  <div class="row centered">
    <div class="col-lg-8">
      <h1>My Slideshows</h1>
      <div class="current_slideshows slideshow_list_sect_container">
      </div>
    </div>
  </div><!-- row -->
</div><!-- container -->





<!-- Edit Modal -->
<div id="editSlideShowModal" class="modal fade" role="dialog"></div>
<script src='/my_account.js'></script>

<style>
  .slide_container {
    width: 150px;
    height: 170px;
  }

  .slide_container .slide-font {
    font-size: 10px;
  }

  .slide_to_add {
    position: relative;
    width: 100%;
    max-height: 200px;
    overflow: scroll;
  }
</style>
