<div id="blue">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-1">
        <img src="<%= current_user.portrait_url %>" class='portrait'>

        <h4><b>My Sketches</b></h4>

        <%= render :partial => '/users/account_panel_links' %>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- blue wrap -->

<div class="container">
  <div class="row centered">
    <div class="col-lg-8">
      <h1>My Sketches</h1>
      <div class="current_slideshows slideshow_list_sect_container">
	      <div class="sketches_thumb_container user_sketches">
					<% @sketches.each do |sktch|%>
						<%= render :partial => '/sketches/thumbnail', :locals => { :sketch => sktch }%>
					<% end %>
				</div>
      </div>
    </div>
  </div><!-- row -->
</div><!-- container -->



